/* Large devices (large desktops, 1600px and up) */
@media all and (min-width: 1600px){

  html{
    width: 47%;
    font-family: 'VT323', monospace;
  }

  img {
      vertical-align: middle;
      border-style: none;
      width: 214%;
  }

  #timer{
    display: inline-block;
    position: relative;
    top: -1775px;
    left: 86px;
    background-color: white;
    opacity: 0.7;
    width: 40%;
    font-size: 30px;
    padding: 0% 6% 4% 6%;
    text-align: center;
    font-family: 'VT323', monospace;
  }

  #background{
    position: relative;
    left: -8px;
    z-index: -1;
    width:100%;
  }

  #backGround{
    position: relative;
    top: -1267px;
    width: 213%;
    display: inline-block;
  }

  #alphabet li{
    color: white;
    display: inline;
    list-style: none;
    padding: 15px;
    border: 1px solid black;
    background-color: rgba(0,255,127,0.05);
    margin: 4px;
    font-family: 'VT323', monospace;
  }

  #alphabet{
    position: relative;
    top: -262px;
    left: 147%;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: -4px 4px 6px black;
    background-color: rgba(158,216,255,0.5);
    padding: 8px;
    border: 2px solid black;
    font-family: 'VT323', monospace;
  }

  #gameArea{
    position: absolute;
    top: 1512px;
    left: 650px;
    WIDTH: 47%;
    margin: -40%;
  }

  #holoBack{
    position: relative;
    top: -846px;
    left: 65.7%;
    background-color: white;
    opacity: 0.4;
    width: 73%;
    padding: 23% 7%;
    border: 4px solid black;
  }

  #Screen{
    display: inline-block;
    position: relative;
    top: -1216px;
    left: 143%;
    background-color: white;
    opacity: 0.7;
    width: 70%;
    padding: 36% 0;
    border: 2px solid black;
  }

  #Time{
    vertical-align: baseline;
    top: -1809px;
    left: 636px;
    position: relative;
    color: #03030b;
    font-size: 91px;
    font-family: 'VT323', monospace;
  }

  #Time2{
    vertical-align: baseline;
    top: -1945px;
    left: 636px;
    position: relative;
    color: #03030b;
    font-size: 91px;
    font-family: 'VT323', monospace;
  }

  #fngrprnt{
     position: relative;
     top: -1840px;
     width: 8%;
     left: 268px;
     opacity: 0.4;
  }

  .dots{
   position: relative;
   left: 413px;
   top: -176px;
  }

  #redDot{
    position: relative;
    top: -1798px;
    width: 3%;
    left: 508px;
    opacity: 0.5;
    z-index: 1;
  }

  #redDot2{
    position: relative;
    top: -1779px;
    width: 3%;
    left: 455px;
    opacity: 0.5;
    z-index: 1;
  }


  #redDot3{
    position: relative;
    top: -1839px;
    width: 3%;
    left: 418px;
    opacity: 0.5;
    z-index: 1;
  }

  #progressBar{
    vertical-align: baseline;
    top: -1743px;
    left: -144px;
    position: relative;
  }

  #hint{
    display: inline-block;
    position: relative;
    top: -996px;
    left: -46px;
    background-color: white;
    opacity: 0.7;
    width: 19%;
    /* padding: 0% 5% 8% 5%; */
    text-align: center;
    font-family: 'VT323', monospace;
  }

  #clue{
    display: inline-block;
    position: relative;
    top: -1185px;
    left: 240px;
    background-color: white;
    width: 88%;
    text-align: center;
    opacity: 0.7;
    font-family: 'VT323', monospace;
  }

  #hold{
    position: absolute;
    display: inline;
    top: -721px;
    left: 1129px;
    text-align: center;
    font-family: 'VT323', monospace;
  }

  #globe{
    position: relative;
    top: -1880px;
    width: 44%;
    left: 86px;
    opacity: 0.5;
  }

  #hold li{
    display: inline;
    list-style: none;
    padding: 15px;
  }

  #reset{
    display: inline-block;
    position: absolute;
    top: -288px;
    left: 1350px;
    background-color: white;
    opacity: 0.7;
    width: 19%;
    /* padding: 0% 5% 8% 5%; */
    text-align: center;

  }

  #mylives{
    display: inline-block;
    position: absolute;
    top: -45px;
    left: 509px;
    opacity: 0.9;
    color: white;
    width: 19%;
    text-align: center;
    font-family: 'VT323', monospace;
  }

  .flex-container{
    display: flex;
    position: absolute;
    top: -295px;
    left: -140px;
    background-color: rgba(250,250,250,0.5);
  }

  #keyBoard{
    position: absolute;
    top: -410px;
    left: 755px;
  }

  #phase{
    position: relative;
    display: inline-block;
    text-align: center;
    top: -1720px;
    left: -23.4%;
    /* background-color: rgb(250, 250, 250,0.3); */
  }

  #input{
    position: relative;
    display: inline-block;
    text-align: center;
    top: -2116px;
    left: 35.6%;
    width: 39%;
  }

  #submit{
    position: relative;
    display: inline-block;
    text-align: center;
    top: -2147px;
    left: 76%;
    width: 5%;
  }

  button:hover{
    background-color: lightpink;
    opacity: 0.9;
  }

  button:active{
    opacity: 1;
    background-color: grey;
  }


  #Space{
    position: absolute;
    top: -335px;
    left: 492px;
    padding: 15px;
    width: 16%;
    opacity: 0.2;
   }
}
